In [1]:
import pandas as pd

In [2]:
pr=pd.read_excel('Predict.xlsx')
pr.head()

,Year,Country,No.,Name,Age,Height,International Matches,Goals,Worth
0,2018.0,France,1.0,Hugo Lloris,31.0,188.0,142.0,0.0,25.0
1,2018.0,France,2.0,Benjamin Pavard,22.0,186.0,47.0,2.0,30.0
2,2018.0,France,3.0,Presnel Kimpembe,22.0,183.0,28.0,0.0,30.0
3,2018.0,France,4.0,Raphaël Varane,25.0,191.0,90.0,5.0,70.0
4,2018.0,France,5.0,Samuel Umtiti,24.0,182.0,31.0,4.0,60.0

In [3]:
amean=pr['Age'].mean()
astd=pr['Age'].std()
hmean=pr['Height'].mean()
hstd=pr['Height'].std()
gmean=pr['Goals'].mean()
gstd=pr['Goals'].std()

In [4]:
worth=pr['Worth'].dropna()
wmean=worth.mean()
wstd=worth.std()

In [5]:
df=pd.read_excel('FIFA WORLD CUP.xlsx')
df.head()

,GROUP,COUNTRY,NO.,NAME,POSITION,HEIGHT,WORTH (€),BIRTH,AGE,CLUB,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,FIFA HIGHEST LEVEL
0,A,QATAR,1,Saad Al Sheeb,GK,185,0.2M,1990.02.19,32,Al-Sadd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0
1,A,QATAR,21,Yousef Hassan,GK,186,0.15M,1996.05.24,26,Al-Gharafa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0
2,A,QATAR,22,Meshaal Barsham,GK,178,0.45M,1998.02.14,24,Al-Sadd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0
3,A,QATAR,2,Ró-Ró,DF,182,0.325M,1990.08.06,32,Al-Sadd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0
4,A,QATAR,4,Mohammed Waad,DF,183,0.4M,1999.09.18,23,Al-Sadd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0

In [6]:
def seq(x,y,z):

   x=x-z
   sequence=pd.DataFrame(data=x,index=y,columns=['error'])
   sequence.insert(1,'scores',sequence.rank(ascending=True))
     
   return sequence

In [7]:
df['WORTH (€)'] = df['WORTH (€)'].str.replace('M','')
df['WORTH (€)'] = df['WORTH (€)'].astype(float)
df.head()

,GROUP,COUNTRY,NO.,NAME,POSITION,HEIGHT,WORTH (€),BIRTH,AGE,CLUB,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,FIFA HIGHEST LEVEL
0,A,QATAR,1,Saad Al Sheeb,GK,185,0.200,1990.02.19,32,Al-Sadd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0
1,A,QATAR,21,Yousef Hassan,GK,186,0.150,1996.05.24,26,Al-Gharafa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0
2,A,QATAR,22,Meshaal Barsham,GK,178,0.450,1998.02.14,24,Al-Sadd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0
3,A,QATAR,2,Ró-Ró,DF,182,0.325,1990.08.06,32,Al-Sadd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0
4,A,QATAR,4,Mohammed Waad,DF,183,0.400,1999.09.18,23,Al-Sadd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0

In [8]:
# 國家

dfPortugal = df[df['COUNTRY'] == 'Portugal']
dfEngland = df[df['COUNTRY'] == 'England']
dfFrance = df[df['COUNTRY'] == 'France']
dfMorocco = df[df['COUNTRY'] == 'Morocco']
dfNetherlands = df[df['COUNTRY'] == 'Netherlands']
dfArgentina = df[df['COUNTRY'] == 'Argentina']
dfCroatia = df[df['COUNTRY'] == 'Croatia']
dfBrazil = df[df['COUNTRY'] == 'Brazil']

In [9]:

S=[dfPortugal['PREVIOUS　GOALS'].mean(),dfEngland['PREVIOUS　GOALS'].mean(),dfFrance['PREVIOUS　GOALS'].mean(),dfMorocco['PREVIOUS　GOALS'].mean(),dfNetherlands['PREVIOUS　GOALS'].mean(),dfArgentina['PREVIOUS　GOALS'].mean(),dfCroatia['PREVIOUS　GOALS'].mean(),dfBrazil['PREVIOUS　GOALS'].mean()]
W=[dfPortugal ['PREVIOUS　GOALS'].mean(),dfEngland ['WORTH (€)'].mean(),dfFrance ['WORTH (€)'].mean(),dfMorocco ['WORTH (€)'].mean(),dfNetherlands['WORTH (€)'].mean(),dfArgentina['WORTH (€)'].mean(),dfCroatia['WORTH (€)'].mean(),dfBrazil['WORTH (€)'].mean()]
C=['Portugal','England','Morocco','France','Netherlands','Argentina','Croatia','Brazil']

In [11]:
seq(S,C,gmean)

TypeError: unsupported operand type(s) for -: 'list' and 'float'

In [12]:
seq(W,C,wmean)

TypeError: unsupported operand type(s) for -: 'list' and 'float'

In [16]:
dfBrazil = df[df['COUNTRY'] == 'Brazil']
dfBrazil['INTERNATIONAL MATCHES'].mean()

37.30769230769231

In [17]:
dfCroatia['INTERNATIONAL MATCHES'].mean()

38.61538461538461

In [18]:
dfFrance['INTERNATIONAL MATCHES'].mean()

33.0

In [19]:
dfArgentina['INTERNATIONAL MATCHES'].mean()

35.30769230769231

In [20]:
dfEngland['INTERNATIONAL MATCHES'].mean()

33.07692307692308

In [21]:
dfMorocco['INTERNATIONAL MATCHES'].mean()

22.692307692307693

In [22]:
dfPortugal['INTERNATIONAL MATCHES'].mean()

42.26923076923077

In [23]:
dfNetherlands['INTERNATIONAL MATCHES'].mean()

26.846153846153847